{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block content %}


{#       <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">#}
{#       <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">#}
<style>
    .leaflet-container {  /* all maps */
        width:  1000px;
        height: 500px;
        /*padding-top: 10px;*/
        border-color: #1b1b1b;
        /*margin-top: auto;*/
        margin-left: 100px;

    }

    /*#specialbigmap {*/
    /*    height: 800px;*/
    /*}*/

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        /*width: 100%;*/
    }
    /*.map{*/
    /*       padding: 10px;*/
    /*        background-color: #00B000;*/
    /*        height: 650px;*/
    /*        width: 1200px;*/
    /*        float: right;*/
    /*        position: relative;*/
    /*        bottom: 10px;*/
    /*}*/

</style>

{#<container>#}
              <div class="row col-lg-12">
{#                 <div class="col-sm-9 ">#}
{#                      <h4 class="text-center">CADASTRE RURAL DE L'OFFICE DU MOYEN BANI</h4> <br/>#}
                              <div class="map ">
                                  {% leaflet_map "map"%}
                              </div>
                               <div>
                                    {% leaflet_js %}
                                    {% leaflet_css %}
                               </div>
{#                 </div>#}
               </div>

{#</container>#}
{# <script src="{% static 'bootstrap/js/index.js'%}"></script>#}
{# <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>#}

 <script>
    $( "p" ).click(function( event ) {
      alert("Your book is overdue.");// This is my case irrigation
    });

</script>

{% endblock %}



